CREATE TABLE "apps" (
  "id" {{ .AutoincrementPrimaryKey }},
  "name" text,
  "description" text,
  "app_pubkey" text,
  "wallet_pubkey" text,
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }},
  "last_used_at" {{ .Timestamp }},
  "isolated" boolean,
  "metadata" json,
  UNIQUE("app_pubkey")
);

CREATE TABLE "app_permissions" (
  "id" {{ .AutoincrementPrimaryKey }},
  "app_id" integer,
  "scope" text,
  "max_amount_loki" integer,
  "budget_renewal" text,
  "expires_at" {{ .Timestamp }},
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }},
  CONSTRAINT "fk_app_permissions_app" FOREIGN KEY ("app_id") REFERENCES "apps"("id") ON DELETE CASCADE
);
CREATE INDEX "idx_app_permissions_scope" ON "app_permissions"("scope");
CREATE INDEX "idx_app_permissions_app_id" ON "app_permissions"("app_id");

CREATE TABLE "request_events" (
  "id" {{ .AutoincrementPrimaryKey }},
  "app_id" integer null,
  "nostr_id" text UNIQUE,
  "content_data" text,
  "method" text,
  "state" text,
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }},
  CONSTRAINT "fk_request_events_app" FOREIGN KEY ("app_id") REFERENCES "apps"("id") ON DELETE CASCADE
);
CREATE UNIQUE INDEX "idx_request_events_nostr_id" ON "request_events"("nostr_id");
CREATE INDEX "idx_request_events_app_id" ON "request_events"("app_id");
CREATE INDEX "idx_request_events_app_id_and_id" ON "request_events"("app_id", "id");
CREATE INDEX "idx_request_events_method" ON "request_events"("method");

CREATE TABLE "response_events" (
  "id" {{ .AutoincrementPrimaryKey }},
  "nostr_id" text UNIQUE,
  "request_id" integer,
  "state" text,
  "replied_at" {{ .Timestamp }},
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }},
  CONSTRAINT "fk_response_events_request_event" FOREIGN KEY ("request_id") REFERENCES "request_events"("id") ON DELETE CASCADE
);
CREATE UNIQUE INDEX "idx_response_events_nostr_id" ON "response_events"("nostr_id");
CREATE INDEX "idx_response_events_request_id" ON "response_events"("request_id");

CREATE TABLE "transactions" (
  "id" {{ .AutoincrementPrimaryKey }},
  "app_id" integer,
  "request_event_id" integer,
  "type" text,
  "state" text,
  "payment_request" text,
  "preimage" text,
  "payment_hash" text,
  "description" text,
  "description_hash" text,
  "amount_msat" integer,
  "fee_msat" integer,
  "fee_reserve_msat" integer,
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }},
  "expires_at" {{ .Timestamp }},
  "settled_at" {{ .Timestamp }},
  "metadata" json,
  "self_payment" boolean,
  "boostagram" json,
  "failure_reason" text,
  "hold" boolean,
  "settle_deadline" integer
);
CREATE INDEX "idx_transactions_updated_at" ON "transactions"("updated_at");
CREATE INDEX "idx_transactions_payment_hash" ON "transactions"("payment_hash");
CREATE INDEX "idx_transactions_app_id_state_type_updated_at" ON "transactions"("app_id", "state", "type", "updated_at");
CREATE INDEX "idx_transactions_payment_hash_settled_at_created_at" ON "transactions"("payment_hash", "settled_at", "created_at");

CREATE TABLE "swaps" (
  "id" {{ .AutoincrementPrimaryKey }},
  "swap_id" text UNIQUE,
  "type" text,
  "state" text,
  "invoice" text,
  "send_amount" integer,
  "receive_amount" integer,
  "destination_address" text,
  "refund_address" text,
  "lockup_address" text,
  "boltz_pubkey" text,
  "preimage" text,
  "payment_hash" text,
  "lockup_tx_id" text,
  "claim_tx_id" text,
  "auto_swap" boolean,
  "timeout_block_height" integer,
  "swap_tree" json,
  "used_xpub" boolean,
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }}
);

CREATE TABLE "forwards" (
  "id" {{ .AutoincrementPrimaryKey }},
  "outbound_amount_forwarded_msat" integer,
  "total_fee_earned_msat" integer,
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }}
);

CREATE TABLE "user_configs" (
  "id" integer, 
  "key" text NOT NULL UNIQUE, 
  "value" text, 
  "encrypted" numeric, 
  "created_at" {{ .Timestamp }},
  "updated_at" {{ .Timestamp }}, 
  PRIMARY KEY("id")
);
CREATE UNIQUE INDEX "idx_user_configs_key" ON "user_configs" ("key");
